@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@700&family=Permanent+Marker&family=Poppins:wght@300&family=Source+Code+Pro&display=swap');

.reservations-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.searchbar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.searchbar input {
  /* background-color: white; */
  border: none;
  border-bottom: 1px solid white;
  color: white;
  /* border-radius: 5px; */
  width: 275px;
  height: 35px;
  font-size: 16px;
  padding-left: 5px;
  outline: none;
}

.searchbar button {
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
  height: 35px;
}

.reservation-card {
  display: flex;
  align-items: center;
  border: 2px solid rgb(154, 154, 154);
  border-style:ridge;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 100px;
  width: 100%;
}

.edit-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgb(154, 154, 154);
  border-style:ridge;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  background-color: rgb(231, 231, 231);
}

.edit-card div,
.edit-card i,
.edit-card p {
  background-color: rgb(231, 231, 231);
  color: black;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  font-size: large;
  width: fit-content;
  overflow: hidden;
}

.contact p {
  font-size: small;
}

.contact div div,
.contact h4 {
  margin: 10px 0;
}

.grip-dots,
.edit-card div i,
.edit-card div p {
  width:30px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
}

.edit-card div p {
  margin: 0 20px;
}

.details {
  font-size: medium;
  margin-right: 15px;
  min-width: 115px;
}

.details p {
  margin: 10px 0;
}

.time-size {
  display: flex;
}

.time-size i {
  margin-left: 40px;
  margin-right: 7px;
  padding-top: 10px;
}

.button {
  cursor: pointer;
}

.confirm i {
  color: rgb(0, 169, 0);
}

.cancel i {
  color: red;
}

.notes {
  width: 100%;
  background-color: white;
  color: black;
}
.notes p {
  width: 100%;
  background-color: white;
  color: black;
}

.notes p {
  margin: 4px 0;
  padding-left: 4px;
}

.details p:nth-child(3) {
  cursor: pointer;
}

.details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: left;
  min-width: 115px;
  height: 65px;
}

.details p {
  font-size: 14px;
  margin: 0
}

@media screen and (min-width: 768px) {
  .reservation-card,
  .edit-card,
  .notes,
  .notes p
   {
    width: 768px;
  }

  .reservations-container {
    justify-content: center;
    align-items: center;
  }
}