@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@700&family=Permanent+Marker&family=Poppins:wght@300&family=Source+Code+Pro&display=swap');

.reservations-container {
  width: 100%;
  display: flex;
}

.reservation-card {
  display: flex;
  align-items: center;
  border: 2px solid rgb(154, 154, 154);
  border-style:ridge;
  border-radius: 5px;
  height: 100px;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
  margin-right: auto;
  font-size: large;
  width: fit-content;
  overflow: hidden;
}

.contact p {
  font-size: small;
}

.contact div,
.contact h4 {
  margin: 10px 0;
}

.party-size {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid rgb(154, 154, 154);;
  padding: 15px 0;
  width: 45px;
  font-size: larger;
  font-family: swap
}

.grip-dots {
  width:30px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.details {
  font-size: medium;
  margin-right: 15px;
  min-width: 115px;
}

.details p {
  margin: 10px 0;
}

.time-size {
  display: flex;
}

.time-size i {
  margin-left: 40px;
  margin-right: 7px;
  padding-top: 9.5px;
}