form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

form input,
form select,
form button,
textarea {
  margin: 10px 0;
  padding: 10px;
  width: 90%;
  border: .5px solid white;
  font-size: medium;
  outline: none;
}

.error-message {
  width: 90%;
}

form button {
  width: 25%;
  background-color: white;
  color: black;
  cursor: pointer;
}

form input[type="date"] {
  color-scheme: dark;
}

.edit-buttons {
  display: flex;
  gap: 50px;
}

.edit-buttons button {
  width: 50%;
}

.submit-button {
  background-color: rgb(95, 180, 95);
  border: 2px solid green;
  color: white;
}

.cancel-button {
  background-color: rgb(180, 95, 95);
  border: 2px solid rgb(128, 0, 0);
  color: white;
}

.edit-banner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h3 {
  color: red;
}

form p {
  color: red;
  font-size: small;
}

@media screen and (min-width: 768px) {
  form input,
  form select,
  form button,
  textarea,
  .error-message {
    width: 690px;
  }

  form button {
    width: 192px;
  }
}